<header id="header">
  <div class="inner">
    <img class="image avatar" src="images/me1.jpg" alt="" />
    <h1>
      <b
        >Hi, my name is
        <a href="https://helenapedro.mtcambrosio.com">Helena</a></b
      >
      and I am a Data Scientist at
      <a href="https://www.atlantico.ao/">Millennium Atlantic Bank,</a>
      where I develop analytical solutions for process automation in the
      Marketing & Customer Experience Department.
    </h1>
    <ul class="actions">
      <li>
        <a
          href="https://helenapedro.mtcambrosio.com"
          target="_blank"
          class="button animate__animated animate__rubberBand"
          >Learn More</a
        >
      </li>
    </ul>
  </div>
</header>
