<section id="one">
     <header class="major">
       <h2 class="paragraph">About Me</h2>
     </header>
     <p class="paragraph">
       Helena did the last 3 years of her university career while working as a 
       data scientist and research analyst at GeoAngol, an experience that was 
       exhausting and challenging in similar proportions. During her time working 
       in a company that offers solutions to the oil and gas industry, Helena had 
       seen firsthand how technologies, machine learning, and big data tools have 
       been transforming how corporate decisions are made.</br></br>In 2021 she was 
       approached by a recruiter who allowed her to unleash her skills in the 
       e-commerce industry.
       CasaCon Home Center gave her an incredible opportunity. Helena was able to dive 
       deeper into data science, machine learning and Statistics and refine her professional 
       skills as well.</br>The capable leadership at CasaCon quickly identified Helena's project 
       management and analytical skills and they gave her huge responsibilities. During Helena's 
       watch, they closed strategic deals with 6+ companies that are now contributing more than 
       15% of the portfolio revenue. 
     </p>
     <ul class="actions">
       <li>
         <a 
           href="https://helenapedro.github.io/about.html"
           target="_blank" 
           class="button">Learn More</a>
       </li>
     </ul>
</section>