<section id="one">
  <p class="paragraph">
    <b>Hi, my name is <a href="https://helenapedro.mtcambrosio.com">Helena</a></b> 
    and I am a Data Scientist at <a href="https://www.atlantico.ao/">Millennium Atlantic Bank,</a>
    where I develop analytical solutions for process automation in the Marketing
    & Customer Experience Department to improve systems and to ensure that
    information is obtained quickly and clearly to support the commercial areas.</b></b></b></b>
    I am expert in processing and developing data-centric data models, stored procedures, 
    triggers, APIs, tests, and reports.
  </p>
</section>