<div id="main">
  <section id="two">
    <div class="row">
      <article class="col-6 col-12-xsmall work-item">
        <h2 class="title">GasPump Dashboard</h2>
        <h4 class="skills">
          Python | Node.js | Express | SQL | MongoDB 
        </h4>
        <a href="images/fulls/fuelimage.jpg" class="image fit thumb">
          <img src="images/thumbs/fuelimage.jpg" alt=""/>
        </a>
       <p class="paragraph">
        Dynamic data visualization tool developed with Dash. Features include 
        interactive maps, statistical analysis, and tabular data presentation, 
        enabling users to explore gas station insights effortlessly (hosted on Heroku).
       </p></br>
        <ul class="actions">
          <li>
            <a
              href="https://dashapp-gas-map-data-929aacd93b89.herokuapp.com/"
              target="_blank"
              class="button fit small">
              View Project
            </a>
          </li>
        </ul>
      </article>
       
      <article class="col-6 col-12-xsmall work-item">
      <h2 class="title">CAR PRICE DATA ANALYSIS</h2>
      <h4 class="skills"> Python | Descriptive Statistics | Scatter Plots | HeatMaps | Correlation analyses | Power BI </h4>
      <a href="images/fulls/09.jpg" class="image fit thumb">
        <img src="images/thumbs/09.jpg" alt=""/>
      </a>
      <p class="paragraph">
        The objective of this project was to analyze car price data to identify 
        key variables influencing car prices.</br></br>Questions addressed included 
        examining the relationship between drive systems and vehicle prices, and 
        whether engine size could predict car prices.</br></br>Descriptive statistics, 
        scatter plots, heatmaps, and correlation analyses were employed.
      </p></br>
      <ul class="actions">
        <li>
          <a
            href="https://ambrosiopublicfiles.s3.us-east-2.amazonaws.com/Car_Prices_Data_Analysis.html"
            target="_blank"
            class="button fit small">
              View Project
          </a>
        </li>
        <li>
          <a
            href="https://pedropublicfiles.s3.us-east-2.amazonaws.com/CarPriceAnalysis.pdf"
            target="_blank"
            class="button fit small">
            View Dashboard
          </a>
        </li>
      </ul>
      </article>
      <article class="col-6 col-12-xsmall work-item">
        <h2 class="title">DETECTING FRAUD IN STOCK DATA</h2>
        <h4 class="skillss"> Python | yfinance | Webscraping | Rest API | Financial Analysis</h4>
        <a href="images/fulls/08.jpg" class="image fit thumb"><img src="images/thumbs/08.jpg" alt=""/></a>
        <p class="paragraph">
          The project focuses on detecting fraudulent activities and identifying 
          suspicious stock behavior within stock data for a hedge fund.</br></br>
          Data extraction was conducted utilizing the yfinance library, 
          resulting in a pandas dataframe.</br>
          </br>Historical stock prices were obtained using the history() method, 
          with the period parameter determining the data timeframe. Additionally, dividends were 
          analyzed to assess profit distribution to shareholders.</br>
        </p></br>
        <ul class="actions">
          <li>
            <a
              href="https://ambrosiopublicfiles.s3.us-east-2.amazonaws.com/Detecting_Fraud_in_Stock_Data.html"
              target="_blank"
              class="button fit small">
              View Project
            </a>
          </li>
        </ul>
      </article>
       <article class="col-6 col-12-xsmall work-item">
       <h2 class="title">
       AGE-RELATED BLOOD PRESSURE VARIATIONS AND EDUCATIONAL ATTAINMENT
       </h2>
       <h4 class="skills"> Descriptive Statistics | Frequency tables |
       Individual summary statistics | Graphical summaries   </h4>
       <a href="images/fulls/10.jpg" class="image fit thumb"
       ><img src="images/thumbs/10.jpg" alt=""
       /></a>
       <p class="paragraph">
       The primary objective of this project was to investigate differences 
       in blood pressure and educational attainment based on age, aiming to 
       determine if aging directly influences blood pressure.</br></br>Various 
       analytical techniques, including frequency tables, numerical summaries, 
       individual summary statistics, and graphical summaries, were employed.
       </p></br>
            <ul class="actions">
                 <li>
                      <a
                      href="https://pedropublicfiles.s3.us-east-2.amazonaws.com/index.html"
                      target="_blank"
                      class="button fit small"
                      >View Project
            </a>
                 </li>
            </ul>
       </article>
       <article class="col-6 col-12-xsmall work-item">
       <h2 class="title">
       REAL ESTATE DATA ANALYSIS
       </h2>
       <h4 class="skills"> 
       MS Excel | Statistical Methods | Trend Analysis |
       </h4>
       <a href="images/fulls/07.jpg" class="image fit thumb"
       ><img src="images/thumbs/07.jpg" alt=""
       /></a>
       <p class="paragraph">
       The project aims to provide insights into the dynamics of the housing market 
       and rental sector, particularly focusing on market values of housing units and Fair 
       Market Rents over the period from 2005 to 2013.
       </p></br>
       <ul class="actions">
       <li>
            <a
            href="https://pedropublicfiles.s3.us-east-2.amazonaws.com/Real_Estate_Data_Analysis.xlsb"
            target="_blank"
            class="button fit small"
            >View Project
            </a>
       </li>
       </ul>
       </article>
  </section>
  <!-- Three -->
  <section id="three">
  <div class="row">
       <div class="col-4 col-12-small">
       <ul class="labeled-icons">
       <li>
            <h3 class="icon solid fa-home">
            <span class="label">Address</span>
            </h3>
            Luanda, Angola.
       </li>
       <li>
            <h3 class="icon solid fa-mobile-alt">
            <span class="label">Phone</span>
            </h3>
            (+244)936457069
       </li>
       <li>
            <h3 class="icon solid fa-envelope">
            <span class="label">Email</span>
            </h3>
            <a href="#">mbeua94@gmail.com</a>
       </li>
       </ul>
       </div>
  </div>
  </section>
</div> -->



<section id="two">
     <h2>Recent Work</h2>
     <div class="row">
       <article class="col-6 col-12-xsmall work-item">
        <h2 class="title">
          REAL ESTATE DATA ANALYSIS
        </h2>
        <h4 class="skills"> 
          MS Excel | Statistical Methods | Trend Analysis |
        </h4>
        <a href="images/fulls/07.jpg" class="image fit thumb"
          ><img src="images/thumbs/07.jpg" alt=""
        /></a>
        <p class="paragraph">
          The project aims to provide insights into the dynamics of the housing market 
          and rental sector, particularly focusing on market values of housing units and Fair 
          Market Rents over the period from 2005 to 2013.
        </p></br>
        <ul class="actions">
          <li>
            <a
              href="https://pedropublicfiles.s3.us-east-2.amazonaws.com/Real_Estate_Data_Analysis.xlsb"
              target="_blank"
              class="button fit small"
              >View Project
            </a>
          </li>
        </ul>
      </article>
     </div>
     <ul class="actions">
       <li>
            <a href="#" class="button">
                 Full Portfolio
            </a>
       </li>
     </ul>
     <img src="images/css-sprite-combined.2.png" alt="">
   </section>