<section id="three">
  <div class="row">
    <div class="col-4 col-12-small">
      <ul class="labeled-icons">
        <li>
          <h3 class="icon solid fa-home">
            <span class="label">Address</span>
          </h3>
          35TP + 2H, Luanda, Angola.
        </li>
        <li>
          <h3 class="icon solid fa-mobile-alt">
            <span class="label">Phone</span>
          </h3>
          (+244)936457069
        </li>
        <li>
          <h3 class="icon solid fa-envelope">
            <span class="label">Email</span>
          </h3>
          <a href="#">mbeua94@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>
</section>
