<section id="two">
     <div class="row">
       <article class="col-6 col-12-xsmall work-item">
         <h2 class="title">SPACEX FALCON 9 ANALYSIS</h2>
         <h4 class="skills"> 
           Python | Webscraping | Rest API | EDA | Visualization 
           | SQL | Flask | Folium | Plotly Dash | Machine Learning 
         </h4>
         <a
           href="images/fulls/capa.PNG"
           class="image fit thumb"
           target="_blank"
           ><img src="images/thumbs/capa.PNG" alt=""
         /></a>
         <p class="paragraph">
           The project delves into the feasibility of establishing a new player 
           in the rocket industry, SpaceY, to rival SpaceX, the brainchild of 
           billionaire industrialist Elon Musk.</br></br>The methodology used implied: 
           Data collection with Webscraping and SpaceX Rest API; Data wrangling; 
           Exploratory data analysis (EDA) with visualization and SQL; Interactive 
           visual analytics with Folium and Plotly Dash; Predictive analysis using 
           classification models like Decision trees, Logistic Regression, SVM and KNN.
         </p></br>
         <ul class="actions">
           <li>
             <a
               href="https://spacex.mtcambrosio.com/"
               target="_blank"
               class="button fit small"
               >View Project</a
             >
           </li>
         </ul>
       </article>
       <article class="col-6 col-12-xsmall work-item">
         <h2 class="title">DETECTING FRAUD IN STOCK DATA</h2>
         <h4 class="skillss"> Python | Financial Analysis | yfinance | Webscraping | Rest API</h4>
         <a href="images/fulls/08.jpg" class="image fit thumb"><img src="images/thumbs/08.jpg" alt=""/></a>
         <p class="paragraph">
           The project focuses on detecting fraudulent activities and identifying 
           suspicious stock behavior within stock data for a hedge fund.</br></br>
           Data extraction was conducted utilizing the yfinance library, 
           resulting in a pandas dataframe.</br>
           </br>Historical stock prices were obtained using the history() method, 
           with the period parameter determining the data timeframe. Additionally, dividends were 
           analyzed to assess profit distribution to shareholders.</br>
         </p></br>
               <ul class="actions">
                    <li>
                      <a
                        href="https://ambrosiopublicfiles.s3.us-east-2.amazonaws.com/Detecting_Fraud_in_Stock_Data.html"
                        target="_blank"
                        class="button fit small"
                        >View Project
             </a>
                    </li>
               </ul>
       </article>
       <article class="col-6 col-12-xsmall work-item">
         <h2 class="title">CAR PRICE DATA ANALYSIS</h2>
         <h4 class="skills"> Python | Descriptive Statistics | Scatter Plots | HeatMaps | Correlation analyses </h4>
         <a href="images/fulls/09.jpg" class="image fit thumb"
           ><img src="images/thumbs/09.jpg" alt=""
         /></a>
         <p class="paragraph">
           The objective of this project was to analyze car price data to identify 
           key variables influencing car prices.</br></br>Questions addressed included 
           examining the relationship between drive systems and vehicle prices, and 
           whether engine size could predict car prices.</br></br>Descriptive statistics, 
           scatter plots, heatmaps, and correlation analyses were employed.
         </p></br>
               <ul class="actions">
                    <li>
                      <a
                        href="https://ambrosiopublicfiles.s3.us-east-2.amazonaws.com/Car_Prices_Data_Analysis.html"
                        target="_blank"
                        class="button fit small"
                        >View Project
             </a>
                    </li>
               </ul>
       </article>
       <article class="col-6 col-12-xsmall work-item">
         <h2 class="title">
           NATIONAL HEALTH AND NUTRITION EXAMINATION SURVEY 
         </h2>
         <h4 class="skills"> Descriptive Statistics | Frequency tables |
           Individual summary statistics | Graphical summaries   </h4>
         <a href="images/fulls/10.jpg" class="image fit thumb"
           ><img src="images/thumbs/10.jpg" alt=""
         /></a>
         <p class="paragraph">
           The primary objective of this project was to investigate differences 
           in blood pressure and educational attainment based on age, aiming to 
           determine if aging directly influences blood pressure.</br></br>Various 
           analytical techniques, including frequency tables, numerical summaries, 
           individual summary statistics, and graphical summaries, were employed.
         </p></br>
               <ul class="actions">
                    <li>
                      <a
                        href="https://ambrosiopublicfiles.s3.us-east-2.amazonaws.com/NHANES_Data_Analysis.html"
                        target="_blank"
                        class="button fit small"
                        >View Project
             </a>
                    </li>
               </ul>
       </article>
       <article class="col-6 col-12-xsmall work-item">
         <h2 class="title">Real Estate Data Analysis</h2>
         <a href="images/fulls/07.jpg" class="image fit thumb"
           ><img src="images/thumbs/07.jpg" alt=""
         /></a>
         <p class="paragraph">Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
         <ul class="actions">
                    <li>
                      <a
                        href="https://ambrosiopublicfiles.s3.us-east-2.amazonaws.com/Real_Estate_Data_Analysis.xlsx"
                        target="_blank"
                        class="button fit small"
                        >View Project in Excel
             </a>
                    </li>
               </ul>
       </article>
   </section>